

{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Görme engelli kütüphaneleri ortak platformuna hoşgeldiniz.</h1>
    <hr>
 <p>
           İlgili Kanun: 5846 Sayılı Kanunun "altıncı Bölüm-Çeşitli Hükümler " bölümünde yeralan 
           <br>"EK MADDE 11. - Ders kitapları dahil, alenileşmiş veya yayımlanmış yazılı ilim ve edebiyat eserlerinin engelliler için üretilmiş bir nüshası yoksa hiçbir ticarî amaç güdülmeksizin bir engellinin kullanımı için kendisi veya üçüncü bir kişi tek nüsha olarak ya da engellilere yönelik hizmet veren eğitim kurumu, vakıf veya dernek gibi kuruluşlar tarafından ihtiyaç kadar kaset, CD, braill alfabesi ve benzeri formatlarda çoğaltılması veya ödünç verilmesi bu Kanunda öngörülen izinler alınmadan gerçekleştirilebilir.
           <br>"Bu nüshalar hiçbir şekilde satılamaz, ticarete konu edilemez ve amacı dışında kullanılamaz ve kullandırılamaz. Ayrıca bu nüshalar üzerinde hak sahipleri ile ilgili bilgilerin bulundurulması ve çoğaltım amacının belirtilmesi zorunludur." <br>
            maddesine istinaden görme engelliler kütüphaneleri ortak platformu görme engelli bireylere hizmet vermek amacıyla Akdeniz Üniversitesi engelli destek birimi merkez kütüphane görme engelliler salonu ile Kastamonu Üniversitesi rektörlüğü Engelsiz Üniversite Uygulama Koordinatörlüğu işbirliğiyle oluşturulmuştur.
    <br>
    Görme engelli kütüphaneleri ortak platformu hiçbir koşulda ticari amaç gütmemektedir.</p>
</div>
{% endblock %}
